{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %} -->

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <!-- my-auto vertically centers, h-100 is 100% height -->
        <div class="col-md-8 my-auto">
            <h1 class="text-light">Ponder your Orbs</h1>
        </div>
        <div class="col-md-4 my-auto">
            <div class="landing-page-links">
                <a href="#">
                    <h2>Hats</h2>
                </a>
            </div>
            <div class="landing-page-links">
                <a href="#">
                    <h2>Custom Hats</h2>
                </a>
            </div>
            <div class="landing-page-links">
                <a href="#">
                    <h2>Accessories</h2>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}