{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
{% if user.is_staff %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 form-container text-center rounded mx-auto my-2">
            <h2 class="my-2">Staff Hub</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-container text-center rounded mx-auto">
            <div>
                <a href="{% url 'staff_submission' %}" class="btn btn-md btn-navy my-2">
                    <span>Submit a Product Request <i class="fa-solid fa-wand-sparkles"></i></span>
                </a>
          
                <a href="{% url 'create_battle' %}" class="btn btn-md btn-navy my-2">
                    <span>Create Wizard Battle <i class="fa-solid fa-hat-wizard"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-container rounded mx-auto my-2">
            <h3>Order History</h3>
            <p>To change the fulfillment status please click the order number.</p>
            <div class="order-history table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a class="reversed-link-styles"
                                    href="{% url 'staff_order_history' order.order_number %}">{{ order.order_number }}</a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.product_type }} x {{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ order.grand_total }}</td>
                            {% if order.fulfilled is True %}
                            <td>Order fulfilled</td>
                            {% else %}
                            <td>Order not yet fulfilled</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 form-container rounded mx-auto my-2">
            <h3>Product Requests</h3>
            <div class="order-history table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Product Type</th>
                            <th>Date</th>
                            <th>Variable One</th>
                            <th>Variable Two</th>
                            <th>Variable Three</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in staff_products %}
                        <tr>
                            <td><a class="reversed-link-styles"
                                    href="{% url 'staff_final_quote' product.id %}">{{ product.product_type }}</a></td>
                            <td>{{ product.created_on }}</td>
                            <td>{{ product.variable_one }}</td>
                            <td>{{ product.variable_two }}</td>
                            <td>{{ product.variable_three }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% else %}
<p class="col-md-6 form-container text-center rounded mx-auto my-2">You do not have permission to see this page.</p>
{% endif %}
{% endblock %}