{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="rounded product-detail-container mx-auto">
    <h2 class="text-center m-2 heading">{{ product.name }}</h2>
</div>

<div class="card text-center product-detail-container mx-auto">
    <div class="card-body">
        <img src="#" class="card-img" alt="{{ product.img_alt_text }}">
        <p>{{ product.description }}</p>
        <p>{{ product.stats }}</p>
        <p>€{{ product.price }}</p>
    </div>
</div>

{% endblock %}