@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Raleway&display=swap');

/* Universal */

html {
    height: 100%;
}

body {
    background: url('/media/landing-page-hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Anek Latin', monospace, sans-serif;
}

.navbar-brand {
    font-family: 'Raleway', monospace, sans-serif;
}

.dropdown-menu {
    background-color: black;
}

/* Landing page */

.landing-page-links {
    display: flex;
    justify-content: end;
}

.landing-page-links a {
    text-decoration-line: none;
    color: white;
}

.landing-page-links a:hover {
    color: purple;
}