@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Raleway&display=swap');


/* Universal */

html {
    height: 100%;
}

/* Code for background image from Code Institute's Boutique Ado walkthrough */
body {
    background: url('/media/landing-page-hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Anek Latin', monospace, sans-serif;
    color: #faebd7;
}

.icon {
    color: #faebd7;
}

.navbar-brand {
    font-family: 'Raleway', monospace, sans-serif;
}

.dropdown-menu {
    background-color: #050533;
    color: #faebd7;
}

/* .icon-test i {
    opacity: 0;
}

.icon-test i:hover {
    opacity: 1;
} */

.universal-link-styles a,
.universal-link-styles,
.landing-page-links a {
    text-decoration-line: none;
    color: #faebd7;
}

.universal-link-styles a:hover,
.universal-link-styles:hover,
.landing-page-links a:hover {
    color: #534582;
}

.reversed-link-styles {
    text-decoration-line: underline;
    color: #050533;
}

.reversed-link-styles:hover {
    text-decoration: none;
    color: #050533;
}

.btn-navy {
    background-color: #050533;
    color: #faebd7;
}

.btn-navy:hover {
    background-color: #faebd7;
    color: #050533;
    border: 2px solid #050533;
}

/* // Code for back to top button from W3 https://www.w3schools.com/howto/howto_js_scroll_to_top.asp  */
.back-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background: #050533;
    color: #faebd7;
    cursor: pointer;
    border-radius: 100px;
    font-size: 30px;
}


/* Landing page */

.landing-page-links {
    display: flex;
    justify-content: end;
}


/* Product details page */

.product-detail-container {
    width: 25rem;
    background-color: #faebd7;
    color: #050533;
}

/* CSS for enlarging images on hover from: https://success.appen.com/hc/en-us/articles/202703155-CSS-Guide-to-Enlarge-Images-on-Hover */
.card-img {
    max-width: 250px;
    height: auto;
    top: -50px;
    left: -35px;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.card-img:hover {
    transform: scale(1.8);
}




/* Privacy policy page */
.light-background-container {
    background-color: #faebd7;
    color: #050533;
}

.p-p-heading {
    width: 40rem;
}

.p-p-text {
    width: 60rem;
}

/* Standard product pages */

.all-product-card {
    background-color: #faebd7;
    color: #050533;
}


/* Battle arena styling */

.form-container {
    width: 35rem;
    background-color: #faebd7;
    color: #050533;
}

.battle-card {
    width: 50rem;
    background-color: #faebd7;
    color: #050533;
    text-decoration: none;
}

.image-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}