@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Raleway&display=swap');


/* Universal */

html {
    height: 100%;
}

/* Code for background image from Code Institute's Boutique Ado walkthrough */
body {
    background: url('https://res.cloudinary.com/elyserh/image/upload/v1658933734/landing-page-hero_g4w1tp.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Anek Latin', monospace, sans-serif;
    color: #faebd7;
}

/* end */

.icon {
    color: #faebd7;
}

.navbar-brand {
    font-family: 'Raleway', monospace, sans-serif;
}

.dropdown-menu {
    background-color: #050533;
    color: #faebd7;
}

.universal-link-styles a,
.universal-link-styles,
.landing-page-links a {
    text-decoration-line: none;
    color: #faebd7;
}

.universal-link-styles a:hover,
.universal-link-styles:hover,
.landing-page-links a:hover {
    color: #534582;
}

.reversed-link-styles {
    text-decoration-line: underline;
    color: #050533;
}

.reversed-link-styles:hover {
    text-decoration: none;
    color: #050533;
}

.btn-navy {
    background-color: #050533;
    color: #faebd7;
}

.btn-navy:hover {
    background-color: #faebd7;
    color: #050533;
    border: 2px solid #050533;
}

/* // Code for back to top button from W3 https://www.w3schools.com/howto/howto_js_scroll_to_top.asp  */
.back-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background: #050533;
    color: #faebd7;
    cursor: pointer;
    border-radius: 100px;
    font-size: 30px;
}

/* end */

/* Bootstrap toasts, based on Code Institute's Boutique Ado walkthrough */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    width: 20rem;
}

/* end */



/* Landing page */



/* Products and product related pages */

.product-card {
    background-color: #faebd7;
    color: #050533;
    text-decoration: none;
}

.title {
    font-family: 'Raleway', monospace, sans-serif;
    text-decoration: none;
    color: #050533;
}

.title:hover {
    text-decoration: underline;
    color: #050533;
}


/* Style for loot bag */
.loot-links:hover {
    cursor: default;
}


/* Battle arena styling */

.form-container {
    width: 35rem;
    background-color: #faebd7;
    color: #050533;
}

.battle-card {
    background-color: #faebd7;
    color: #050533;
    text-decoration: none;
}

.image-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}


/* About us page */

.about-us li {
    list-style-type: none;
}

/* Privacy policy page */
.light-background-container {
    background-color: #faebd7;
    color: #050533;
}

.p-p-heading {
    width: 40rem;
}

.p-p-text {
    width: 60rem;
}