{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1>About Us</h1>
</div>

<div class="form-container text-center rounded mx-auto my-3 p-2 about-us">
    <h3>In Person Events</h3>
    <ul>
        <li><a class="reversed-link-styles" href="https://www.worldcon.org/" target="_blank" rel="noopener"
            aria-label="Opens in a new tab">WorldCon Dublin 2019</a></li>
        <li><a class="reversed-link-styles" href="https://www.dublincomiccon.com/" target="_blank" rel="noopener"
            aria-label="Opens in a new tab">Dublin Comic Con</a></li>
    </ul>
</div>

<div class="form-container text-center rounded mx-auto my-3 p-2 about-us">
    <h3>Groups We Support</h3>
    <ul class="reversed-link-styles">
        <li><a class="reversed-link-styles" href="https://teni.ie/" target="_blank" rel="noopener"
            aria-label="Opens in a new tab">TENI (Trans Equality Network Ireland)</a></li>
        <li><a class="reversed-link-styles" href="https://mermaidsuk.org.uk/" target="_blank" rel="noopener"
            aria-label="Opens in a new tab">Mermaids UK</a></li>
    </ul>
</div>

<div class="form-container text-center rounded mx-auto my-3 p-2 about-us">
    <h3>Sites We Recommend</h3>
    <ul>
        <li><a class="reversed-link-styles" href="https://popculthq.com/" target="_blank" rel="noopener"
            aria-label="Opens in a new tab">PopCultHQ</a></li>
        <li><a class="reversed-link-styles" href="https://cosplay.com/" target="_blank" rel="noopener"
            aria-label="Opens in a new tab">Cosplay.com</a></li>
    </ul>
</div>

{% endblock %}