{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1>Frequently Asked Questions</h1>
</div>

<div class="form-container text-center rounded mx-auto my-2">
    <h2>Delivery Questions</h2>
    <ul class="pl-0 pr-1">
        <li class="pb-3">My delivery hasn't arrived!
            <ul>
                <li>Our delivery beasts usually take 1-2 weeks. If it has been longer than that please get in touch with us at
                    outproudproject@gmail.com, or our <a class="reversed-link-styles" href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Opens in a new tab">Instagram</a>.</li>
            </ul>
        </li>
        <li class="pb-3">My delivery arrived but I'm not a fan, can I get a refund?
            <ul>
                <li>Because all the items are custom made, returns can be tricky. Get in touch with us at
                    outproudproject@gmail.com and we'll have a chat to find a good outcome.</li>
            </ul>
        </li>
    </ul>
</div>

<div class="form-container text-center rounded mx-auto my-2">
    <h2>Other Questions</h2>
    <ul class="pl-0 pr-1">
        <li class="pb-3">Aren't wizards dudes and witches women? Why do you sell clothing and costumes other than men's?
            <ul>
                <li>Gender is made up, and that goes extra for wizards. You can do better, you deserve better than
                    gender.</li>
            </ul>
        </li>
        <li class="pb-3">Why don't you have any Harry Potter gear?
            <ul>
                <li>This website is a trans created and trans friendly space; furthering JK Rowling's platform is not
                    welcome here. We stan Gandalf in this house.</li>
            </ul>
        </li>
    </ul>
</div>

{% endblock %}