{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
           
                <h1>Ponder your Orbs</h1>
        </div>
        <div class="col-md-4 mt-5">
            
                <a class="universal-link-styles" href="{% url 'all_products' %}">
                    <h2>Custom made products for the modern wizard</h2>
                </a>
          
            
        </div>

    </div>
</div>
{% endblock %}