{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h1>Error 403: Forbidden</h1>
            <h2>The wizards just don't permit this one, sorry. <i class="fa-solid fa-hand-sparkles"></i></h2>
            <div>
                {% cloudinary 'astronaut-wand_ubph0y.jpg' width=350 height=400 crop="fill" %}
            </div>
            <div>
                <a href="{% url 'all_products' %}" class="btn btn-md btn-navy my-2">
                    Keep exploring here instead
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}