{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1 class="fs-2">Custom quote (final)</h1>
</div>
<div class="form-container text-center rounded mx-auto my-2">
    <h2>The price for your custom hat is €{{ product.price }}.</h2>
    <h3>The details are:</h3>
    <p>Brim width: {{ product.brim_width }}cm</p>
    <p>Height: {{ product.hat_height }}cm</p>
    <p>Colour: {{ product.color }}</p>
    <p>Patch: {{ product.patch }}</p>
</div>

<p>{{ product.sku }} - ref for elyse</p>

{% endblock %}