{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center rounded mx-auto my-2">
    <h1 class="fs-2">battle_arena</h1>
</div>

{% for battle in all_battles %}

<div class="card text-center battle-card col-md-6 col-lg-4">
    <div class="card-body">
        <a class="card-title" href="{% url 'view_battle' battle.slug %}"><p>{{ battle.title }}</p></a>
    </div>
</div>


            

{% if forloop.counter|divisibleby:3 %}
<div class="row justify-content-center">
    {% endif %}
    {% endfor %}
</div>

{% if request.user.is_staff %}
<ul class="universal-link-styles">
    <a href="{% url 'create_battle' %}">Create Battle <i class="fa-solid fa-hat-wizard"></i></a>
</ul>
{% else %}
{% endif %}
{% endblock %}