{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-md-3 form-container text-center rounded mx-auto">
    <h1 class="text-center fs-2 m-2">Battle Arena</h1>
</div>

{% for battle in all_battles %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto m-4">
            <a class="card-title title"
                href="{% url 'view_battle' battle.slug %}">
                <div class="card text-center battle-card">
                    <div>
                        <h2>{{ battle.title }}</h2>
                    </div>
                    <div class="card-body image-grid-container">
                        {% if battle.image_one %}
                        <img class="img-fluid" src={{ battle.image_one.url }} alt="A wizard ready for battle.">
                        {% else %}
                        <img class="img-fluid" src="/media/images/placeholder.jpg"
                            alt="A small frog-like creature in a wizard hat.">
                        {% endif %}

                        {% if battle.image_two is placeholder_two %}
                        <img class="img-fluid" src="/media/images/placeholder.jpg"
                            alt="A small frog-like creature in a wizard hat.">
                        {% else %}
                        <img class="img-fluid" src={{ battle.image_two.url }} alt="A second wizard ready for battle.">
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}

{% if request.user.is_staff %}
<div class="col-md-3 form-container text-center rounded mx-auto">
    <a href="{% url 'create_battle' %}" class="btn btn-md btn-navy my-2">
        <span>Create Battle <i class="fa-solid fa-hat-wizard"></i></span>
    </a>
</div>
{% endif %}

{% endblock %}