{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_staff %}
<div class="col-md-6 form-container text-center rounded mx-auto my-2">
    <h1 class="fs-2">Edit Wizard Battle Post</h1>
</div>
<div class="col-md-6 form-container text-center rounded mx-auto my-2">
    <form method="post" action="{% url 'edit_battle' battle.slug %}" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-md btn-navy my-2">Submit</button>
    </form>
</div>
{% else %}
<p class="col-md-6 form-container text-center rounded mx-auto my-2">You do not have permission to see this page.</p>
{% endif %}

{% endblock %}