{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% load crispy_forms_tags %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1 class="text-center m-2 fs-2 heading">{{ battle.title }}</h1>
</div>

<div class="form-container w-75 text-center rounded mx-auto my-2">
    <div class="text-center">
        <p>{{ battle.text_content | safe }}</p>
    </div>
    <div class="py-2">
        {% if battle.image_one %}
        {% cloudinary battle.image_one.url width=100 height=200 crop="limit" %}
        {% else %}
        {% cloudinary 'placeholder.png' width=400 height=400 crop="fill" %}
        {% endif %}

        {% if battle.image_two %}
        {% cloudinary battle.image_two.url width=100 height=200 crop="limit" %}
        {% else %}
        {% cloudinary 'placeholder.png' width=400 height=400 crop="fill" %}
        {% endif %}
    </div>
</div>

<div class="m-5">
    <div class="rounded form-container mx-auto text-center m-1" style="width: 15rem;">
        <a class="reversed-link-styles" href="{% url 'battle_arena' %}">Back to Battle Arena<i
                class="fa-solid fa-hat-wizard"></i></a>
    </div>

    {% if request.user.is_staff %}
    <div class="rounded form-container mx-auto text-center m-1" style="width: 15rem;">
        <a class="reversed-link-styles" href="{% url 'edit_battle' battle.slug %}">Edit Battle <i
                class="fa-solid fa-hat-wizard"></i></a>
    </div>
    <div class="rounded form-container mx-auto text-center m-1" style="width: 15rem;">
        <a class="reversed-link-styles" href="{% url 'delete_battle' battle.slug %}">Delete Battle <i
                class="fa-solid fa-hat-wizard"></i></a>
    </div>
    {% endif %}
</div>

{% for comment in comments %}
<div class="rounded product-detail-container mx-auto">
    <p class="text-center m-2">Comment: {{ comment.comment_body }}</p>
    <p class="text-center m-2">By: {{ comment.name }}</p>
</div>
{% endfor %}

<div class="text-center rounded mx-auto my-2">
    <h2 class="fs-4 mt-4">Leave a comment:</h1>
</div>

<div class="form-container text-center rounded mx-auto my-2">
    <form method="post" action="{% url 'view_battle' battle.slug %}" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-md btn-navy my-2">Submit</button>
    </form>
</div>

{% endblock %}