{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center rounded mx-auto my-2">
    <h1 class="fs-2">wizard battle post</h1>
</div>

{{ battle.title }}
{{ battle.text_content }}
{{ battle.image_one }}
{{ battle.image_two }}

{% if request.user.is_staff %}
<ul class="universal-link-styles" style="list-style-type:none;">
    <li><a href="{% url 'edit_battle' battle.slug %}">Edit Battle</a></li>
    <li><a href="{% url 'delete_battle' battle.slug %}">Delete Battle</a></li>
</ul>
{% else %}
{% endif %}
{% endblock %}