{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="text-center rounded mx-auto my-2">
    <h1 class="fs-2">{{ battle.title }}</h1>
</div>

<div class="card text-center product-detail-container mx-auto">
    <div class="card-body">
        <p>{{ battle.text_content }}</p>
        <img src="{{ battle.image_one.url }}" alt="Image of the first wizard in the battle">
        <img src="{{ battle.image_two.url }}" alt="Image of the second wizard in the battle">
    </div>
</div>

{% if request.user.is_staff %}

<div class="rounded form-container mx-auto text-center m-1" style="width: 15rem;">
    <a class="reversed-link-styles" href="{% url 'edit_battle' battle.slug %}">Edit Battle <i
            class="fa-solid fa-hat-wizard"></i></a>
</div>
<div class="rounded form-container mx-auto text-center m-1" style="width: 15rem;">
    <a class="reversed-link-styles" href="{% url 'delete_battle' battle.slug %}">Delete Battle <i
            class="fa-solid fa-hat-wizard"></i></a>
</div>


{% endif %}

<div class="text-center rounded mx-auto my-2">
    <h2 class="fs-4">leave a comment</h1>
</div>

<div class="form-container text-center rounded mx-auto my-2">
    <form method="post" action="{% url 'view_battle' battle.slug %}" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-md btn-navy my-2">Submit</button>
    </form>
</div>

{{ comments.name }}
{{ comments.comment_body }}


{% endblock %}