{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1 class="fs-2">Design custom hat</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 form-container text-center rounded mx-auto my-2 pt-2">
            <form method="post" action="{% url 'custom_hat_two' %}" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <a class="btn btn-md btn-navy mt-2" href="{% url 'all_products' %}"><i class="fas fa-chevron-left"></i> Keep Exploring</a>
                <button type="submit" class="btn btn-md btn-navy mt-2">Generate Quote</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 form-container text-center rounded mx-auto my-2 p-2 custom-image">
            {% cloudinary 'black-straw-hat_dds4bk.jpg' width=400 height=350 crop="fill" %}
        </div>
    </div>
</div>



{% endblock %}