{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1 class="fs-2">Design custom cloak</h1>
</div>
<div class="form-container text-center rounded mx-auto my-2">
    <form method="post" action="{% url 'custom_cloak' %}" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}
        <a class="btn btn-md btn-navy my-2" href="{% url 'all_products' %}"><i class="fas fa-chevron-left"></i> Keep Exploring</a>
        <button type="submit" class="btn btn-md btn-navy my-2">Generate Quote</button>
    </form>
</div>



{% endblock %}