{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1 class="fs-2">Design custom sunglasses</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 form-container text-center rounded mx-auto my-auto p-2">
            <form method="post" action="{% url 'custom_sunglasses' %}" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <a class="btn btn-md btn-navy my-2" href="{% url 'all_products' %}"><i class="fas fa-chevron-left"></i> Keep Exploring</a>
                <button type="submit" class="btn btn-md btn-navy my-2">Generate Quote</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 form-container text-center rounded mx-auto my-auto p-2 custom-image">
            <img class="img-fluid" src="/media/images/sunnies.jpg" alt="A person in a red checked suit and waistcoast wearing stylish rounded sunglasses and leaning against a wall. This is an example of the item the custom product will be based on.">
        </div>
    </div>
</div>



{% endblock %}