{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="form-container text-center rounded mx-auto my-2">
    <h1 class="fs-2">Custom quote (final)</h1>
</div>
<div class="form-container text-center rounded mx-auto my-2">
    <h2>The price for your custom hat is €{{ product.price }}.</h2>
    <h3>The details are:</h3>
    <p>Brim width: {{ product.variable_one }}cm</p>
    <p>Height: {{ product.variable_two }}cm</p>
    <p>Colour: {{ product.color }}</p>
    <p>Patch: {{ product.variable_three }}</p>

    <form class="form" action="{% url 'final_quote' product.id %}" method="POST">
        {% csrf_token %}
            <div>
                <a href="{% url 'design_custom_hat' %}" class="btn btn-md btn-navy my-2">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Discard</span>
                </a>
                <input type="submit" class="btn btn-md btn-navy my-2" value="Add to Loot">
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>



<p>{{ product.sku }} - ref for elyse</p>

{% endblock %}