{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="form-container text-center rounded mx-auto my-2">
        <h2>Product detail</h2>
    </div>

    <div class="form-container text-center rounded mx-auto my-2">

        <p>{{ product.variable }}</p>
        <p>{{ product.variable.variable_name }}</p>
        <p>{{ product.option_one }}</p>
        <p>{{ product.option_two }}</p>
        <p>{{ product.option_three }}</p>
        <p>{{ product.variable.associated_product }}</p>
        <p>{{ product.variable.associated_product.stat }}</p>
        <p>{{ product.variable.associated_product.name }}</p>
        <p>{{ product.variable.associated_product.product_type }}</p>
        <p>{{ product.variable.associated_product.color }}</p>
      
        {% if product.variable.associated_product.image %}
        <img class="img-fluid rounded" src="{{ product.variable.associated_product.image.url }}" alt="Alt text here">
        {% else %}
        <img class="img-fluid rounded" src="{{ MEDIA_URL }}placeholder-image-edited-2.png" alt="wiz img">
        {% endif %}

    </div>
</div>


{% endblock %}