{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

<div class="container-fluid">
    <div class="form-container text-center rounded mx-auto my-2">
        <h2>Products</h2>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card text-center battle-card">
                <a class="card-title reversed-link-styles" href="{% url 'custom_hat_one' %}">
                    <div>
                        <p><strong>Hat</strong></p>
                    </div>
                    <div class="card-body image-grid-container">
                        {% cloudinary 'blue-top-hat_mkjfca.jpg' %}
                    </div>
                </a>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card text-center battle-card">
                    <a class="card-title reversed-link-styles" href="{% url 'custom_hat_two' %}">
                        <div>
                            <p><strong>Floppy Hat</strong></p>
                        </div>
                        <div class="card-body image-grid-container">
                            {% cloudinary 'black-straw-hat_dds4bk.jpg' %}
                        </div>
                    </a>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card text-center battle-card">
                        <a class="card-title reversed-link-styles" href="{% url 'custom_cloak' %}">
                            <div>
                                <p><strong>Forest Cloak</strong></p>
                            </div>
                            <div class="card-body image-grid-container">
                                {% cloudinary 'forest-green-cloak_by7wmi.jpg' %}
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card text-center battle-card">
                        <a class="card-title reversed-link-styles" href="{% url 'custom_wand' %}">
                            <div>
                                <p><strong>Wand</strong></p>
                            </div>
                            <div class="card-body image-grid-container">
                                {% cloudinary 'cactus-wand_gkfxco.jpg' %}
                            </div>
                        </a>
                    </div>
                </div>
            </div>

    </div>

{% endblock %}