{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <div class="overlay"></div> -->
<div class="container-fluid">
    <div class="row">

        <h2 class="logo-font text-center">Products</h2>


        <div class="col-md-6">
            <div class="card text-center battle-card">
                <div>
                    <a class="card-title reversed-link-styles fs-4" href="{% url 'custom_hat_one' %}">Hat One
                    </a>
                </div>
                <div class="card-body image-grid-container">
                    <a href="{% url 'custom_hat_one' %}"><img class="img-fluid" src="{{ MEDIA_URL }}blue-top-hat.jpg"
                            alt="wiz img"></a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center battle-card">
                <div>
                    <a class="card-title reversed-link-styles fs-4" href="{% url 'custom_hat_two' %}">Hat Two
                    </a>
                </div>
                <div class="card-body image-grid-container">
                    <a href="{% url 'custom_hat_two' %}"><img class="img-fluid" src="{{ MEDIA_URL }}black-straw-hat.jpg"
                            alt="wiz img"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center battle-card">
                <div>
                    <a class="card-title reversed-link-styles fs-4" href="{% url 'custom_cloak' %}">Cloak
                    </a>
                </div>
                <div class="card-body image-grid-container">
                    <a href="{% url 'custom_hat_one' %}"><img class="img-fluid" src="{{ MEDIA_URL }}forest-green-cloak.jpg"
                            alt="wiz img"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center battle-card">
                <div>
                    <a class="card-title reversed-link-styles fs-4" href="{% url 'custom_wand' %}">Wand
                    </a>
                </div>
                <div class="card-body image-grid-container">
                    <a href="{% url 'custom_hat_one' %}"><img class="img-fluid" src="{{ MEDIA_URL }}cactus-wand.jpg"
                            alt="wiz img"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}

{% block postloadjs %}
<!-- below line makes sure it appends to base instead of replacing -->
{{ block.super }}


<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}