{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_staff %}
<div class="col-md-4 form-container text-center rounded mx-auto my-2">
    <h1 class="fs-2">Details for Product Request</h1>
</div>
<div class="container">
    <div class="col-md-6 form-container text-center rounded mx-auto my-2">
        <p class="p-2">The below details have been emailed to you:</p>
        <hr>
        <p>Product type: {{ staff_product.product_type }}</p>
        <p>Stats included: {{ staff_product.stat }}</p>
        <p>Colors included: {{ staff_product.color }}</p>
        <p>Request submitted: {{ staff_product.created_on }}</p>
        <hr>
        <p>Variable one: {{ staff_product.variable_one }}</p>
        <li>Option one: {{ staff_product.variable_one_option_one }}</li>
        <li>Option two: {{ staff_product.variable_one_option_two }}</li>
        <li>Option three: {{ staff_product.variable_one_option_three }}</li>
        </ul>
        <hr>
        <p>Variable two: {{ staff_product.variable_two }}</p>
        <li>Option one: {{ staff_product.variable_two_option_one }}</li>
        <li>Option two: {{ staff_product.variable_two_option_two }}</li>
        <li>Option three: {{ staff_product.variable_two_option_three }}</li>
        <hr>
        <p>Variable three: {{ staff_product.variable_three }}</p>
        <li>Option one: {{ staff_product.variable_three_option_one }}</li>
        <li>Option two: {{ staff_product.variable_three_option_two }}</li>
        <li>Option three: {{ staff_product.variable_three_option_three }}</li>
        <hr>

        <a href="{% url 'staff_profile' %}" class="btn btn-md btn-navy my-2">
            <i class="fas fa-angle-left"></i>
            <span>Back to Staff Hub</span>
        </a>
        <a href="{% url 'staff_edit' staff_product.id %}" class="btn btn-md btn-navy my-2">
            <span>Edit Request <i class="fa-solid fa-hat-wizard"></i></span>
        </a>

        <div class="p-2">
            <p>Do you need to delete this request? We have not included a delete option here in case your developer is
                currently working on this request; please call (01) 234 5678 or email outproudproject@gmail.com if you have any urgent requests.</p>
        </div>
    </div>
</div>
{% else %}
<p class="col-md-6 form-container text-center rounded mx-auto my-2">You do not have permission to see this page.</p>
{% endif %}

{% endblock %}