{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="form-container text-center rounded mx-auto my-2">
        <h2>Filter test</h2>
    </div>

    <div class="form-container text-center rounded mx-auto my-2">
        {% for product in custom_product %}
        <p>{{ product.variable }}</p>
        <p>{{ product.variable.variable_name }}</p>
        <p>{{ product.option_one }}</p>
        <p>{{ product.option_two }}</p>
        <p>{{ product.option_three }}</p>
        <p>{{ product.variable.associated_product }}</p>
        <p>{{ product.variable.associated_product.stat }}</p>
        <p>{{ product.variable.associated_product.name }}</p>
        <p>{{ product.variable.associated_product.product_type }}</p>
        <p>{{ product.variable.associated_product.color }}</p>  
        {% endfor %}
    </div>
</div>


{% endblock %}